.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.card {
  border: 3px solid black;
  width: 300px;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgb(255, 255, 255, 0.95);
  color: black;
}

.category {
  font-weight: 700;
}

.selectable:hover {
  cursor: pointer;
}

.data {
  font-weight: 300;
  margin-left: 4px;
}

.classification {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted black;
}

.column {
  display: flex;
}

.highlight {
  color: blue;
}